*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

font-family:Arial,Helvetica,sans-serif;

background:#0f172a;

color:white;

}

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:25px 10%;

background:#08101d;

position:fixed;

width:100%;

top:0;

z-index:1000;

}

nav ul{

display:flex;

list-style:none;

gap:30px;

}

nav a{

color:white;

text-decoration:none;

font-weight:600;

}

.logo{

font-size:26px;

font-weight:bold;

color:#38bdf8;

}

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

padding:0 10%;

}

.hero-text{

max-width:800px;

}

.hero h1{

font-size:60px;

margin-bottom:20px;

}

.hero h2{

font-size:28px;

color:#38bdf8;

margin-bottom:30px;

}

.hero p{

font-size:20px;

line-height:1.8;

margin-bottom:40px;

color:#cbd5e1;

}

.button{

background:#38bdf8;

color:black;

padding:15px 35px;

text-decoration:none;

font-weight:bold;

border-radius:10px;

transition:.3s;

}

.button:hover{

background:white;

}